<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-dark-green relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w-auto flex-none">
		<img src="/img/logo-small.png" alt="MG Construct" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="flex b white">
		<li><a href="/products" class="pa3 no-underline db">Projecten</a></li>
		<li><a href="/values" class="pa3 no-underline db">Over ons</a></li>
		<li><a href="/contact" class="pa3 no-underline db">Contact</a></li>
	</ul>

</nav>
